table{
    width:700px;
    border-collapse:separate; 
    border-spacing:1em;
    border-color: green;

    
}
.subTitulo{
	font-size: 16px;
}

.tabelaJv{
     border:1px solid green; 
     background-color: #7fff7f;
     
  }

 a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


#mydiv{
    background-color: green;
    width: 700px;
    height:100px;
}