
label{
    font-size:14px;
    text-align:right;
}


table{
    width:600px;
    border-collapse:separate; 
    border-spacing:1px;
    border-color: green;

}

p {
    font-size: 14;

}



#separaDaPic{
  padding:5px;
  border-right:1px solid black;
  border-color: green;
  border-color: red;
  border-right-color: green;
}

.rows_descricao{
    padding-bottom: 1em;
}
td{
    font-size:20px;
}

.contetor-input{
    padding:2px;
}


  #maincontainer {
    border-style: solid;
    border-width: 1px;
    width: 50%;
    height: 20%;
  }

  #leftcolumn {
    float:left;
    display:inline-block;
    width: 100px;
    height: 20%;
  }

  #contentwrapper {
    float:left;
    display:inline-block;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    height: 20%;
    position:relative;
  }

  .bloco-conteudo{
    padding-left: 30px;
  }

  .x{
    line-height: 0px;

  }
  
  .bloco-button{
    float: left;
  }

  .tabelaJv{
     border:1px solid green; 
     
  }