#tabelaP1{
  padding:5px;
  border-right:1px solid black;
  border-color: green;
  border-color: red;
  border-right-color: green;
}

table{
    width:700px;
    border-collapse:separate; 
    border-spacing:1em;
    border-color: green;

}
.imagemCurso{

    padding-right: 30px;
	float: left;
}

.tituloCurso{
	float: right;
}

.tabela4{
 border-right:1px solid green; 
}


#container div div {
  float: left;
  height: 150px;
  width: 150px;
}

#container {
  width: 600px;
}

#container div {
  float: left;
  height: 300px;
  width: 300px;
}


.tabela3{
  border-right: 1px solid green;
  border-bottom: 1px solid green;

}



.topDiv{
  width: 500px;

    padding: 10px;
    border: 3px solid green;
    margin: 10px;
}

tr{
  border: 3px;
}

.descricao{
    width: 650px;

    padding: 10px;
    border-right: 1px solid green;
    border-top: 1px solid green;
    margin: 10px;
    text-align: justify;
    
}

.topHeader{

    border-right: 1px solid green;
    border-top: 1px solid green;

   
    padding: 10px;
    
    margin: 0;
    border-color: green;
}

.dados{
  font-size: 16px;
}
.nativos{
  font-size: 12px;
}

p{
  text-align:left; 
  font-size:14px;
}

h1{
  text-align: center;
}